[phases.setup]
nixPkgs = ['dotnet-sdk_8']

[phases.build]
cmds = [
    'dotnet restore',
    'dotnet publish src/HallApp.Web/HallApp.Web.csproj -c Release -o /app/publish'
]

[start]
cmd = 'dotnet /app/publish/HallApp.Web.dll --urls=http://0.0.0.0:$PORT'
