# nixpacks.toml
[phases.setup]
nixPkgs = ["dotnet-sdk_8", "dotnet-aspnetcore_8"]

[phases.build]
cmds = [
    "dotnet restore src/HallApp.Web/HallApp.Web.csproj",
    "dotnet publish src/HallApp.Web/HallApp.Web.csproj -c Release -o out --no-restore"
]

[start]
cmd = "dotnet out/HallApp.Web.dll"

[variables]
DOTNET_ROOT = "/nix/var/nix/profiles/default"
ASPNETCORE_ENVIRONMENT = "Production"
