[variables]
DOTNET_ROOT = "/nix/store/dotnet"

[phases.setup]
nixPkgs = ["dotnet-sdk_8", "dotnet-aspnetcore_8"]

[phases.build]
cmds = [
    "dotnet --info",
    "dotnet restore",
    "dotnet publish src/HallApp.Web/HallApp.Web.csproj -c Release -o out"
]

[start]
cmd = "dotnet out/HallApp.Web.dll"
