[phases.setup]
nixPkgs = ['dotnet-sdk_8']

[phases.build]
cmds = [
    'dotnet restore',
    'dotnet publish src/HallApp.Web/HallApp.Web.csproj -c Release -o out'
]

[start]
cmd = 'dotnet out/HallApp.Web.dll'
